/* ==========Category style============ */
.centerContent {
	margin-top: 2rem;
	display: flex;
	justify-content: center;
}
.centerTxt {
	align-items: center;
	align-content: center;
}
.innerTxt {
	align-content: center;
	display: flex;
	justify-content: center;
}
.smTxt {
	color: #81c435;
	font-size: 14px;
	font-weight: bold;
}
.lgTxt {
	color: black;
	font-size: 3.5rem;
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
}

.categorypDiv {
	margin-left: 2rem;
	margin-right: 2rem;
	padding-left: 1rem;
}
.sliderCategoryTxt {
	background-color: #81c435;
	height: 2rem;
	width: 13rem;
	border-radius: 50rem !important;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 4rem;
	right: 0rem;
	color: white;
	font-weight: bold;
}
.imgContainerCss {
	position: relative;
	height: 15rem;
	width: 15rem;
	border-radius: 10rem;
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* .imgStyle {
	height: 15rem;
	width: 15rem;
	border-radius: 10rem;
} */
